* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Gilroy";
}

html,
body {
	height: 100vh;
	max-width: 100vw;
}

#main {
	position: relative;
	height: 120vh;
	width: 100%;
}
.color {
	position: absolute;
	filter: blur(90px);
}
.color:nth-child(1) {
	top: 100px;
	left: 500px;
	width: 600px;
	height: 500px;
	background: #c6b3a7;
}
.color:nth-child(2) {
	top: 150px;
	left: 0px;
	width: 500px;
	height: 500px;
	background: #dde6e2;
}
.color:nth-child(3) {
	bottom: 150px;
	right: 0px;
	width: 300px;
	height: 300px;
	background: #e0cad1;
}

.color:nth-child(4) {
	bottom: -200px;
	right: 40px;
	width: 900px;
	height: 300px;
	background: #939293a9;
}

#nav {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#men a {
	text-decoration: none;
	font-size: 20px;
	color: black;
	padding: 20px;
	position: relative;
	/* font-weight: 500; */
}

#men a:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: rgb(0, 0, 0);
	transition: width 0.7s ease 0s, left 0.7s ease 0s;
	width: 0;
}
#men a:hover:after {
	width: 90%;
	left: 5px;
}

#nav button {
	background-color: transparent;
	padding: 15px 40px;
	font-size: 18px;
	border: 1.4px solid black;
	border-radius: 100px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all ease-in-out 0.5s;
}
#nav button:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.186);
	letter-spacing: 2.5px;
	padding: 14px 38px;
	font-weight: 600;
	/* box-shadow: 0px 3px 99px rgba(0, 0, 0, 0.454); */
}

#one {
	position: absolute;
	top: 22%;
	left: 9%;
	height: 80%;
	width: 45%;
	/* background-color: aqua;  */
}
.line1 {
	height: 1.5px;
	width: 50px;
	margin-top: 6px;
	background-color: rgb(0, 0, 0);
	margin-right: 10px;
}

.row1 {
	display: flex;
}

#one h5 {
	font-size: 12px;
	font-weight: 200;
}

#one h1 {
	margin-top: 20px;
	font-weight: 900;
	font-size: 78px;
}

#one p {
	font-size: 22px;
	margin-top: 20px;
	line-height: 2;
	margin-bottom: 50px;
	font-weight: 300;
}

#one button {
	font-size: 22px;
	padding: 18px 38px;
	border-radius: 30px;
	color: azure;
	background-color: black;
	font-weight: 600;
	/* margin-top: 20px; */
	margin-right: 40px;
}

#one i {
	font-size: 60px;
}
#one h4 {
	font-size: 24px;
	margin-left: 30px;
	margin-top: 15px;
	font-weight: 400;
}

#pic1 {
	position: absolute;
	top: 20%;
	right: 8%;
	height: 72vh;
	width: 25vw;
	/* background-color: aqua; */
	border-radius: 168px;
	border: 2px solid black;
}
#pic2 i {
	position: absolute;
	font-size: 100px;
	top: -12%;
	color: #f8c881;
	transform: rotate(80deg);
}

#pic2 {
	position: absolute;
	top: 4%;
	right: 6%;
	height: 92%;
	width: 88%;
	/* background-color: red; */
	background-image: url(https://images.unsplash.com/photo-1561198929-06611095c95d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
	background-size: cover;
	border-radius: 150px;
}

#circle {
	position: absolute;
	top: 80%;
	right: 0%;
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
}

#pic2 h6 {
	position: absolute;
	margin: -10px 30px;
	font-weight: 100;
	font-size: 18px;
	/* padding: 4px; */
	/* padding-left: 35px; */
}
#pic2 h1 {
	position: absolute;
	top: 50%;
	right: -40%;
	color: transparent;
	font-size: 200px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

#pic2 h1 span {
	color: transparent;
	font-size: 230px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(207, 152, 98);
}
#two {
	position: absolute;
	left: 9%;
	top: 95%;
	height: 30%;
	width: 20%;
	/* background-color: aqua; */
}
#two h3 {
	margin-bottom: 10px;
}
#two p {
	font-size: 15px;
	line-height: 1.5;

	margin-bottom: 30px;
}
#pic3 {
	height: 55px;
	width: 55px;
	/* background-color: black; */
	background-image: url(https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
	background-position: bottom;
	background-size: cover;
	border-radius: 50%;
	margin-right: 20px;
}
#box1 {
	position: absolute;
	top: 95%;
	left: 40%;
	height: 25%;
	width: 25%;
	border-radius: 20px;
	background-color: #ebebeb;
	border: 3px solid white;
}
#box1 i {
	height: 40px;
	width: 40px;
	background-color: #ced1f4;
	border-radius: 50%;
	padding: 10px 10px;
}

#box2 {
	position: absolute;
	top: 95%;
	left: 70%;
	height: 25%;
	width: 25%;
	border-radius: 20px;
	background-color: #ebebeb;
	border: 3px solid white;
}
#box2 i {
	height: 40px;
	width: 40px;
	background-color: #f0c6f4;
	border-radius: 50%;
	padding: 10px 10px;
}
.row2 {
	display: flex;
	justify-content: space-evenly;
	margin-top: 25px;
	margin-bottom: 25px;
}
.row3 {
	margin-left: 20px;
	margin-right: 40px;
}
.row3 p {
	margin-top: 10px;
	font-size: 15px;
	line-height: 1.5;
}
#main2 {
	position: relative;
	margin-top: 40vh;
	height: 100vh;
	max-width: 100vw;
	background-color: #e4e3e3;
}

#pic4 {
	position: relative;
	top: 15%;
	left: 8%;
	height: 72vh;
	width: 25vw;
	/* background-color: aqua; */
	border-radius: 168px;
	border: 2px solid black;
}
#pic5 i {
	position: absolute;
	left: 60%;
	font-size: 100px;
	top: -10%;
	color: #bc67c7;
	transform: rotate(80deg);
}

#pic5 {
	position: absolute;
	top: 4%;
	left: 6%;
	height: 65vh;
	width: 22vw;
	/* background-color: red;  */
	background-image: url(https://images.unsplash.com/photo-1651017810069-1835a8d1fc21?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
	background-size: cover;
	border-radius: 145px;
}

#circle1 {
	position: absolute;
	top: 80%;
	left: 2%;
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
}

#pic5 h6 {
	position: absolute;
	left: 60%;
	top: -2%;
	/* margin: 20px 20px; */
	padding: 8px;
	padding-left: 35px;
}
#box3 {
	position: absolute;
	top: 18%;
	right: 7%;
	height: 70%;
	width: 48%;
	/* background-color: #f8c881;  */
}
#left {
	position: absolute;
	top: 65%;
	left: 0%;
	height: 40%;
	width: 40%;
	/* background-color: aqua; */
}
#left i {
	height: 40px;
	width: 40px;
	background-color: #88d4bc;
	border-radius: 50%;
	padding: 10px 10px;
}
#left h3 {
	margin-top: 8px;
}
#left p {
	font-size: 13px;
	line-height: 2;
	font-weight: 400;
}

#right {
	position: absolute;
	top: 65%;
	right: 5%;
	height: 40%;
	width: 45%;
	/* background-color: rgb(71, 168, 36); */
}
#right i {
	position: absolute;
	height: 20%;
	width: 12%;
	background-color: #ec997b;
	border-radius: 50%;
	padding: 10px 10px;
}
#right h3 {
	margin-left: 60px;
	margin-top: 8px;
}

#right p {
	font-size: 13px;
	line-height: 2;
	font-weight: 400;
}

.row4 {
	display: flex;
	gap: 12px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#box3 h1 {
	font-size: 72px;
}
#box3 h2 {
	margin-top: 30px;
	font-size: 35px;
	line-height: 1.5;
	/* margin-bottom: 500px; */
}

#main3 {
	position: relative;
	margin-top: 20px;
	height: 100vh;
	max-width: 100vw;
}

#box4 {
	position: absolute;
	top: 12%;
	left: 130px;
	height: 70%;
	width: 40%;
	/* background-color: #bc67c7; */
}

#box4 h5 {
	font-size: 20px;
	font-weight: 500;
	margin-top: -5px;
}
#box4 h1 {
	font-size: 53px;
	line-height: 68px;
	margin-top: 30px;
	margin-bottom: 50px;
}
#box4 h2 {
	font-size: 63px;
}

#box4 p {
	font-size: 20px;
	margin-top: 20px;
	font-weight: 300;
	line-height: 2;
}
#round {
	position: absolute;
	top: 50%;
	right: 25%;
	transform: translate(-50%, -50%);
	height: 180px;
	width: 180px;
	border-radius: 50%;
	background-color: #ea96fd;
}

#investor {
	position: absolute;
	top: 10%;
	right: 32%;
	height: 33%;
	width: 12%;
	background-color: #f5e9e3ee;
	border: 3px solid white;
	border-radius: 20px;
	text-align: center;
}
#investor img {
	padding: 15px;
	height: 150px;
	width: 150px;
}

#transfer {
	position: absolute;
	top: 20px;
	right: 8%;
	height: 43%;
	width: 20%;
	background-color: #f5e9e39b;
	border: 3px solid white;
	border-radius: 40px;
}

#md {
	position: absolute;
	top: 50%;
	right: 8%;
	height: 35%;
	width: 28%;
	background-color: #f5e9e3a4;
	border: 3px solid white;
	border-radius: 40px;
}

#circle2 {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90px;
	width: 90px;
	/* background-color: black; */
	background-image: url(https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
	background-size: cover;
	/* background-position: center; */
	border-radius: 50%;
}

#circle2 h2 {
	margin: 110px 0px;
	text-transform: capitalize;
	margin-left: -50px;
	white-space: nowrap;
}

#trans {
	position: absolute;
	top: 60%;
	left: 25%;
	text-align: center;
	padding: 0px;
}

#trans p {
	margin-top: 20px;
	margin-bottom: 10px;
}

#circle3 {
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%, -50%);
	height: 90px;
	width: 90px;
	/* background-color: black; */
	background-image: url(https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
	background-size: cover;
	/* background-position: center; */
	border-radius: 50%;
}

#md #managing {
	position: absolute;
	top: 15%;
	left: 40%;
	text-transform: capitalize;
}

#md #managing p {
	font-size: 18px;
	margin-top: 4px;
}

#md1 p {
	position: absolute;
	top: 60%;
	left: 10%;
	font-weight: 300;
	font-size: 18px;
	margin-right: 25px;
}

#main4 {
	position: relative;
	/* margin-top: 40vh; */
	height: 100vh;
	max-width: 100vw;
	background-color: #e4e3e3;
}

#top {
	position: absolute;
	top: 10%;
	left: 50%;
	height: 200px;
	width: 560px;
	transform: translate(-50%, 0);
	/* background-color: red; */
}

.line3 {
	height: 1.5px;
	width: 50px;
	margin-top: 20px;
	background-color: rgb(0, 0, 0);
	margin-left: 180px;
}

#top h5 {
	font-size: 22px;
	margin-left: 250px;
	margin-top: -10px;
	font-weight: 500;
}

#top h1 {
	text-align: center;
	margin-top: 30px;
	font-size: 50px;
	line-height: 1.5;
}

#user1 {
	position: absolute;
	top: 50%;
	left: 105px;
	width: 25%;
	height: 45%;
	/* background: rgb(182, 150, 182); */
}

#user2 {
	position: absolute;
	top: 50%;
	left: 38%;
	width: 25%;
	height: 45%;
	/* background: rgb(139, 110, 139); */
}

#user3 {
	position: absolute;
	top: 50%;
	right: 100px;
	width: 25%;
	height: 45%;
	/* background: rgb(186, 160, 186); */
}

.circle4 {
	position: absolute;
	top: 18%;
	left: 15%;
	transform: translate(-50%, -50%);
	height: 90px;
	width: 90px;
	/* background-color: black; */
	background-image: url(https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
	background-size: cover;
	/* background-position: center; */
	border-radius: 50%;
}
.circle5 {
	position: absolute;
	top: 18%;
	left: 15%;
	transform: translate(-50%, -50%);
	height: 90px;
	width: 90px;
	/* background-color: black; */
	background-image: url(https://images.unsplash.com/photo-1588731234159-8b9963143fca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuJTIwcHJvZmlsZXBpY3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
	background-size: cover;
	/* background-position: center; */
	border-radius: 50%;
}
.circle6 {
	position: absolute;
	top: 18%;
	left: 15%;
	transform: translate(-50%, -50%);
	height: 90px;
	width: 90px;
	/* background-color: black; */
	background-image: url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFuJTIwcHJvZmlsZXBpY3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
	background-size: cover;
	/* background-position: center; */
	border-radius: 50%;
}

.profile {
	position: absolute;
	top: 10%;
	left: 35%;
	text-transform: capitalize;
}
.profile p {
	font-size: 18px;
	margin-top: 4px;
}

.profile_1 h2 {
	font-family: "Product Sans";
	position: absolute;
	top: 40%;
	left: 5%;
	font-weight: 500;
	font-size: 20px;
	/* margin-right: 25px; */
	letter-spacing: 0.5px;
}

#main5 {
	border-top: 1px solid transparent;
	position: relative;
	height: 95vh;
	max-width: 100vw;
	background-color: #ebebeb;
}
#footer {
	/* position: absolute;
	top: 20%; */
	display: flex;
	justify-content: space-around;
	margin-top: 90px;
	opacity: 0.7;
}

.foot {
	display: flex;
}
.foot i {
	/* height: 90px;
	width: 90px; */
	font-size: 40px;
}

#foot1 {
	position: absolute;
	top: 39%;
	left: 5%;
	height: 200px;
	width: 300px;
	/* background-color: #ec997b; */
}
#foot1 h1 {
	font-size: 40px;
	margin-bottom: 40px;
}
#foot1 p {
	line-height: 2;
}

#foot2 {
	position: absolute;
	top: 40%;
	left: 40%;
	height: 200px;
	width: 300px;
	/* background-color: #ec997b; */
}
#foot2 h3 {
	margin-bottom: 50px;
}

#foot2 p {
	margin-top: 30px;
}
#foot3 {
	position: absolute;
	top: 40%;
	right: 5%;
	height: 200px;
	width: 350px;
	/* background-color: #ec997b; */
}

.input input {
	margin-top: 50px;
	width: 60%;
	padding: 10px 25px;
	border-radius: 35px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 16px;
	letter-spacing: 1px;
	color: rgb(1, 1, 1);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
#foot3 button {
	position: absolute;
	top: 36.5%;
	right: 2px;
	background-color: transparent;
	padding: 10px 25px;
	font-size: 15px;
	color: white;
	background-color: black;
	border: 1.4px solid black;
	border-radius: 100px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all ease-in-out 0.5s;
}
#bottom {
	/* position: absolute;
	bottom: 20px; */
	padding: 0 70px;
	margin-top: 30%;
	display: flex;
	justify-content: space-between;
}

#bottom p {
	font-size: 18px;
	opacity: 0.6;
}

#line4 {
	position: absolute;
	bottom: 20%;
	left: 5%;
	height: 2px;
	width: 90%;
	/* opacity: 0.5; */
	background-color: rgba(0, 0, 0, 0.193);
	/* text-align: center; */
}
